.banner {
  position: relative;
  height: 60rem;
  background-size: cover;
  padding: 2rem;
  //   background-position: center;
  z-index: 1;
  &::before {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    z-index: -1;
  }
  .hero-banner {
    h1 {
      font-size: 5rem;
      font-weight: 700;
    }
    p {
      font-size: 2rem;
    }
  }
}
